@import '../commons/variables';

.loading-box {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  .hidden{
    display: none;
  }
  .loading-box-item {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    div{
      box-sizing: content-box;
    }
    div > div {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #ff727d;
      animation: loading-box-item 1s linear infinite;
    }
    div {
      &:nth-child(1) > div {
        left: 148px;
        top: 88px;
        animation-delay: -0.875s;
      }
    }
    div {
      &:nth-child(2) > div {
        left: 130px;
        top: 130px;
        animation-delay: -0.75s;
      }
    }
    div {
      &:nth-child(3) > div {
        left: 88px;
        top: 148px;
        animation-delay: -0.625s;
      }
    }
    div {
      &:nth-child(4) > div {
        left: 46px;
        top: 130px;
        animation-delay: -0.5s;
      }
    }
    div {
      &:nth-child(5) > div {
        left: 28px;
        top: 88px;
        animation-delay: -0.375s;
      }
    }
    div {
      &:nth-child(6) > div {
        left: 46px;
        top: 46px;
        animation-delay: -0.25s;
      }
    }
    div {
      &:nth-child(7) > div {
        left: 88px;
        top: 28px;
        animation-delay: -0.125s;
      }
    }
    div {
      &:nth-child(8) > div {
        left: 130px;
        top: 46px;
        animation-delay: 0s;
      }
    }
  
  }
}

@keyframes loading-box-item {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
